@font-face {
    font-family: "Nunito";
    src: url("/font/Nunito-bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
    font-family: 'Nunito' !important;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;

    color: #000000;
}
a{
    font-family: 'Nunito' !important;
}
.titleImg{
    display: block;
    margin: auto;
}
.leftMenu{
    padding-left: 130px !important;
}
.leftMenu1{
    padding-right: 40px !important;
}
.rightMenu{
    padding-right: 130px !important;
}
.rightMenu2{
    padding-left: 40px !important;
}
@media screen and (max-device-width:768px){
    .rightMenu{
        padding-left: 130px !important;
    }
    .rightMenu2{
        padding-left: 0 !important;
    }
    .nav-image{
        padding-left: 130px !important;
    }
}
.navbar{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.list-unstyled>li>a {
    color: #727272 !important;
    text-decoration: none !important;
}
.list-unstyled>li{
    margin-bottom: 18px;
}
.sourceCompany{
    list-style: none;
    display: block;
    padding: 37px 0 0 130px !important;
}
footer{
    background: #F3F3F3;
    width: 100%;
    height: 200px;
    bottom: 0;
    font-size: 16px;
}
.container{
    /*margin: 59px 0 0 5%!important;*/
    margin-top: 59px;
}
.container>div>div{
    /*margin-right: 31px!important;*/

}
.row>div>h3{
    font-size: 26px;
    line-height: 35px;
}
.row>div>p{
    font-size: 16px;

    color: #717171;
}
.row>div>a{
    font-size: 16px;

    color: #F58220 !important;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100% ;
}
.content {
    flex: 1 0 auto ;
}
.footer {
    flex: 0 0 auto ;
}